<html>
  <head>
    <title>WeeblyMini - Pages</title>
    <link rel="stylesheet" href = "{{url_for('static',filename='css/main.css')}}" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
  </head>
  <body>
    <div id = "nav-bar">
      <a href="#" id="nav-logo">
        <img src="{{url_for('static', filename='weebly-logo.png')}}" />
      </a>
    </div>
    <div id="content">
      {% include 'pages/sidebar.html' %}
      {% include 'pages/mainpanel.html' %}
    </div>
  </body>
</html>
