<html>
  <head>
    <title>WeeblyMini - Pages</title>
    <link rel="stylesheet" href = "{{url_for('static',filename='css/main.css')}}" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
  </head>
  <body>
    <div id = "nav-bar">
      <a href="#" id="nav-logo">
        <img src="{{url_for('static', filename='Weebly-Logo.png')}}" />
      </a>
    </div>
    <div id="content">
      {% include 'pages/sidebar.html' %}
      {% include 'pages/mainpanel.html' %}
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
      $(".edit-page-button").click(function(){
        var index = $(".edit-page-button").index(this);
        var $page_link = $(".pages-list-page:eq("+index+")");
        var page_id = parseInt($page_link.attr('id').substr(5));
        $page_link.hide();
        $(".page-title-input:eq("+index+")").show();
        $(".page-title-input:eq("+index+")").focus();
        
        $(this).hide();
        $(".delete-page-button:eq("+index+")").hide();
      });
      $(".page-title-input").keyup(function(e){
        if(e.keyCode == 13){
          updateFunction($(this));
        }
      });
      $(".page-title-input").blur(function(e){
        updateFunction($(this));
      });
      function updateFunction($input){
        var page_id = parseInt($input.attr('id').substr(17));
        var new_title = $input.val();
        updateTitle(page_id, new_title, 
          function(data, textStatus, jqXHR){
            console.log(data);
            console.log(new_title);
            var page_link = $input.siblings(".pages-list-page")[0];
            $(page_link).html(new_title);
            $(".edit-page-button").show();
            $(".delete-page-button").show();
            $(page_link).show();
            $input.hide();
            document.location.href = document.location.href;
          }
        );
      }
    });
    function updateTitle(pageId, newTitle, callback){
      var url = document.location.origin+"/pages/update/"+pageId;
      var data = {title: newTitle};
      $.ajax({
        url : url,
        type: "POST",
        data : data,
        success: callback,
        error: function (jqXHR, textStatus, errorThrown)
        {
          console.log("ERROR "+errorThrown);
        }
      });
    }
    function updatePageAndElements(pageId){
      var url = document.location.origin+"/pages/update/"+pageId;
      var data = getPageAndElemData();
      $.ajax({
        url : url,
        type: "POST",
        data : data,
        success: function (jqXHR, textStatus, errorThrown)
        {
          console.log("page and elems updated");
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
          console.log("ERROR "+errorThrown);
        }
      });
    }
    function getPageAndElemData(){
      var data = {};
      data.title = $(".pages-list-page.selected").first().html();
      data.text_elements = [];
      text_elems = $(".text-elem");
      console.log(text_elems);
      for(var i = 0;i<text_elems.length; i++){
        var $elem = $(text_elems[i]);
        console.log($elem);
        data.text_elements.push({
          "id": parseInt($elem.attr('id').substr(10)),
          "content": $elem.val(),
          "x_coord": $elem.css('left'),
          "y_coord": $elem.css('top'),
          "width": $elem.css('width'),
          "height": $elem.css('height')
        });
      }
      data.image_elements = [];
      image_elems = $(".image-elem");
      for(var i = 0;i<image_elems.length; i++){
        var $elem = $(image_elems[i]);
        data.image_elements.push({
          "id": parseInt($elem.attr('id').substr(11)),
          "img_url": $elem.attr('src').substr($elem.attr('src').lastIndexOf('/')+1),
          "x_coord": $elem.css('left'),
          "y_coord": $elem.css('top'),
          "width": $elem.css('width'),
          "height": $elem.css('height')
        });
      }
      console.log(data);
      return data;
    }
    </script>
  </body>
</html>
