<div id="mainpanel" >
  {% if not noPages %}
  <form action = "/pages/update/{{page.id}}" method = "POST">
    <input id="page-title" type = "text" name = "title" placeholder="Title" value="{{page.title}}"/>
    <br />
    <textarea id="page-content" name = "content" placeholder="Body of the post...">{{page.content}}</textarea>
    <br />
    <a class="page-panel-btn" id="page-delete-button" data-href="http://google.com">Delete</a>
    <input class="page-panel-btn"id="page-save-button" type="submit" value = "Save" />
  </form>
  {% endif %}
</div>

