<div id="mainpanel" >
  {% if not noPages %}
      <ul id = "nav-pages-list">
          {% for p in pages %}
          <li><p {% if id == p.id %} class="selected" {% endif %} >{{p.title}}</p>
          </li>
          {% endfor %}
      </ul>
    <br />
    {% for elem in page.text_elements %}
    <textarea id="text-elem-{{elem.id}}" name = "text-elem-{{elem.id}}" placeholder="Text" class="text-elem" style="top:{{elem.y_coord}}; left:{{elem.x_coord}};width:{{elem.width}};height:{{elem.height}};">{{elem.content}}</textarea>
    {% endfor %}
    <!--
    <textarea id="page-content" name = "content" placeholder="Body of the post...">{{page.content}}</textarea>
    -->
    <br />
  {% endif %}
</div>

