<div id="sidebar">
  <div class = "sidebar-section" id = "pages">
    <p class = "sidebar-section-title">TEMPLATES</p>
    <div class="sidebar-section-content">
      <ul id = "pages-list">
        {% if not noPages %}
          {% for p in pages %}
          <li><a id="page-{{p.id}}" class="pages-list-page {% if id == p.id %} selected {% endif %}" href="/pages/{{p.id}}">{{p.title}}</a>
          <input type="text" id="page-title-input-{{p.id}}" class="page-title-input" name="title" value="{{p.title}}" />
            <span class="page-buttons">
              <a class="icon-pencil edit-page-button" id="edit-page-button" ></a>
              <a class="icon-delete delete-page-button" id="delete-page-button" href="/pages/delete/{{p.id}}"></a>
            </span>
          </li>
          {% endfor %}
        {% endif %}
        <li id="sidebar-new-page">
          <form action="/pages/create" method="POST">
            <input id = "sidebar-new-page-input" name="title" type = "text" placeholder = "ADD NEW PAGE" /> 
            <span id = "sidebar-new-page-add"><input type="submit" id="plus-button" value="+" /></span>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div class = "sidebar-section" id = "elements">
    <p class = "sidebar-section-title">ELEMENTS</p>
    <div class="sidebar-section-content" style="padding: 0px">
      <table>
        <tr class="sidebar-element-row">
          <td>
            <div class="sidebar-element-pic" id="title">
              <p>TITLE</p>
            </div>
          </td>
          <td>
            <div class="sidebar-element-pic" id="text">
              <p>TEXT</p>
            </div>
          </td>
        </tr>
        <tr class="sidebar-element-row">
          <td>
            <div class="sidebar-element-pic" id="image">
              <p>IMAGE</p>
            </div>
          </td>
          <td>
            <div class="sidebar-element-pic" id="nav">
              <p>NAV</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class = "sidebar-section" id = "apiToken">
    <p class = "sidebar-section-title">API INFO</p>
    <div class="sidebar-section-content">
      <p style="color: rgb(156,178,200);">API Token:</p>
      <p style="width: 200px;word-wrap: break-word; color: rgb(156,178,200);">{{user.apiToken}}</p>
    </div>
  </div>

</div>

